.project {
  background-color: var(--primary);
  transition: all 0.5s;
  border: solid thin black;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  min-height: 13rem;
}

.project:hover {
  transform: translate3d(0, -1rem, 5rem);
  border: solid thin var(--link);
}

.project-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0px;
  width: 100%;
}

.description {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.technologies {
  background-color: var(--info);
  border-radius: 0.2rem;
  padding: 0.2rem;
  color: black;
}

.project img {
  object-position: center;
  object-fit: cover;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .project {
    min-height: 17rem;
  }
}

@media screen and (min-width: 1275px) {
  .project {
    min-height: 22rem;
  }
}
