.project {
  transition: all 0.5s;
  border: solid thin black;
  box-sizing: border-box;
  position: relative;
  height: 15rem;
  cursor: pointer;
  overflow: hidden;
}

.project:hover {
  transform: translate3d(0, -1rem, 5rem);
  border: solid var(--link);
}

.project h2 {
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  padding: 0.5rem;
  transition: all 0.5s;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    2px 2px 0 #000;
}

.project:hover h2 {
  background-color: var(--link);
  color: initial;
  text-shadow: none;
}

.github {
  text-decoration: none;
  color: initial;
  padding: 0.2rem;
  font-size: 1.5rem;
  background-color: var(--danger);
  position: absolute;
  top: 0px;
  right: 0px;
}

.github:hover {
  background-color: lightcoral;
}

.project p {
  transition: all 0.5s;
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 0px;
  padding: 0.5rem;
  background-color: var(--primary);
  color: white;
}

.project:hover p {
  color: initial;
  background-color: var(--link);
}

.project img {
  width: 100%;
  object-fit: cover;
  object-position: top left;
  height: 100%;
  transition: all 0.5s;
}

.project:hover img {
  transition: all 3s ease-in-out;
  object-position: bottom right;
}

@media screen and (min-width: 768px) {
  .project {
    height: 17rem;
  }
}

@media screen and (min-width: 1275px) {
  .project {
    height: 22rem;
  }
}
