.perspective {
  perspective: 100rem;
  -webkit-perspective: 100rem;
  perspective-origin: 50% 33%;
  -webkit-perspective-origin: 50% 33%;
}

.cube {
  --cube-width: 90vw;
  --cube-height: 50rem;
  width: var(--cube-width);
  height: var(--cube-height);
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg)
    translate3d(0, 0, calc(var(--cube-width) * -0.5));
  transform: rotateY(0deg) translate3d(0, 0, calc(var(--cube-width) * -0.5));
  transition: transform 0.5s;
}

.face {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 1rem;
  background: var(--primary);
}

#about-me {
  transform: rotateY(0deg) translateZ(calc(var(--cube-width) * 0.5));
  -webkit-transform: rotateY(0deg) translateZ(calc(var(--cube-width) * 0.5));
}

#portfolio {
  transform: rotateY(90deg) translateZ(calc(var(--cube-width) * 0.5));
  -webkit-transform: rotateY(90deg) translateZ(calc(var(--cube-width) * 0.5));
}

#contact {
  transform: rotateY(180deg) translateZ(calc(var(--cube-width) * 0.5));
  -webkit-transform: rotateY(180deg) translateZ(calc(var(--cube-width) * 0.5));
}

#resume {
  transform: rotateY(270deg) translateZ(calc(var(--cube-width) * 0.5));
  -webkit-transform: rotateY(270deg) translateZ(calc(var(--cube-width) * 0.5));
}
