.perspective {
  perspective: 60rem;
  -webkit-perspective: 60rem;
  perspective-origin: 50% 33%;
  -webkit-perspective-origin: 50% 33%;
}

.cube-container {
  transition: transform 0.1s;
  transform: translateZ(-30rem);
  perspective: 60rem;
  -webkit-perspective: 100rem;
  perspective-origin: 50% 33%;
  -webkit-perspective-origin: 50% 33%;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.cube {
  --cube-width: 90vw;
  --cube-height: 88rem;
  width: var(--cube-width);
  max-width: 70rem;
  height: var(--cube-height);
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: rotateY(0deg) translate3d(0, 0, calc(var(--cube-width) * -0.5));
  -webkit-transform: rotateY(0deg)
    translate3d(0, 0, calc(var(--cube-width) * -0.5));
  transition: transform 0.5s;
}

.face {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--dark);
  color: white;
  backface-visibility: hidden;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

.subtitle {
  color: var(--info);
  text-align: center;
  font-size: 2rem !important;
}

.copy {
  font-size: 1.1rem;
}

@media screen and (min-width: 768px) {
  .cube {
    --cube-height: 60rem;
  }
}

@media screen and (min-width: 1275px) {
  .cube {
    --cube-height: 50rem;
  }
}
