#about-me {
  transform: rotateY(0deg) translateZ(min(calc(var(--face-width) * 0.5), 35rem));
  -webkit-transform: rotateY(0deg)
    translateZ(min(calc(var(--face-width) * 0.5), 35rem));
}

#headshot {
  border-radius: 50%;
  border: var(--primary) solid;
  box-shadow: rgb(15, 15, 15) 0.2rem 0.2rem 0.2rem 0.1rem;
  width: 100%;
  max-width: 320px;
  margin: 3rem auto;
  display: block;
}
