:root {
  --primary: hsl(211, 40%, 36%);
  --dark: hsl(180, 7%, 13%);
  --info: hsl(204, 71%, 53%);
  --link: hsl(168, 76%, 42%);
  --success: hsl(145, 63%, 49%);
  --warning: hsl(45, 89%, 50%);
  --danger: hsl(6, 78%, 57%);
}
