#portfolio {
  transform: rotateY(90deg) translateZ(calc(var(--cube-width) * 0.5));
  -webkit-transform: rotateY(90deg) translateZ(calc(var(--cube-width) * 0.5));
  transform-style: preserve-3d;
}

#projects-container {
  transform-style: preserve-3d;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.1rem;
}

@media screen and (min-width: 768px) {
  #projects-container {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media screen and (min-width: 1275px) {
  #projects-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
