#portfolio {
  transform: rotateY(90deg)
    translateZ(min(calc(var(--face-width) * 0.5), 35rem));
  -webkit-transform: rotateY(90deg)
    translateZ(min(calc(var(--face-width) * 0.5), 35rem));
  transform-style: preserve-3d;
}

#projects-container {
  transform-style: preserve-3d;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  #projects-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1275px) {
  #projects-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
